[submodule "code/DenseNet"]
	path = code/DenseNet
	url = https://github.com/titu1994/DenseNet.git
[submodule "code/DeformConv"]
	path = code/DeformConv
	url = https://github.com/felixlaumon/deform-conv.git
